.wrapper {
  margin: var(--spacing-medium) 0;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  font-size: 20px;
  border: 1px solid var(--color-gray-medium);
  border-radius: 50%;
  background-color: var(--color-gray);
  margin: 3px;
}

.iconSuccess {
  border: 1px solid var(--color-green);
  background-color: var(--color-green-light);
}

.iconUnsuccess {
  border: 1px solid var(--color-red-light);
  background-color: var(--color-red-lighter);
}

.loader {
  width: 70%;
  height: 70%;
}
